@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Noto+Sans+KR:wght@300&display=swap');
.titleBox {
	background: #364f6b;
	margin: 0 0;
	height: 100px;
	padding: 20px;
	.title {
		color: white;
		padding-top: 20px;
		margin: 0 0;
		font-size: 32pt;
		font-family: 'Gowun Batang', serif;
	}
}