@import '~include-media/dist/include-media';
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Noto+Sans+KR:wght@300&display=swap');

.DevStack {
	position: relative;
	padding: 100px 0px;
	padding-left:120px;
				@media (max-width: 1080px) {
			padding-left:80px;
		}
	padding-right: 0px;
	.img {
		position: absolute;
		left: 900px;
		top: 250px;
		@media (max-width: 1080px) {
			left: 550px;
		}
	}
}
.contents {
	display: flex;
	padding-left:20px;
	font-size: 18pt;
	font-family: 'Noto Sans KR', sans-serif;
	opacity: 1;
	.cmp {
		padding: 30px;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		vertical-align: center;
		text-align: center;
	}
}
.icon {
	width: 36px;
	height: 36px;
	margin: 0 auto;
}
.title {
	font-size: 24pt;
}