@import '~include-media/dist/include-media';
@font-face{
	font-family: "AppleLight";
	src:url("../fonts/APPLESDGOTHICNEO-LIGHT.TTF");
}
@font-face{
	font-family: "AppleMedium";
	src:url("../fonts/APPLESDGOTHICNEO-MEDIUM.TTF");
}
@font-face{
	font-family: "AppleThin";
	src:url("../fonts/APPLESDGOTHICNEO-THIN.TTF");
}
@font-face{
	font-family: "AppleRegular";
	src:url("../fonts/APPLESDGOTHICNEO-REGULAR.TTF");
}
@font-face{
	font-family: "AppleBOLD";
	src:url("../fonts/APPLESDGOTHICNEO-BOLD.TTF");
}

.dogSound {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	height: auto;
	padding: 50px 0px;
	padding-bottom: 20px;
	padding-left: 120px;
	@media (max-width: 1080px) {
		padding-left: 80px;
	}
	font-family: 'AppleLight';
	.wrapper {
		width: 100%;
		padding: 100px 0px;
		.big {
			position: relative;
			font-size: 60pt;
			@media (max-width: 1080px) {
				font-size: 50pt;
			}
			padding: 10px 0;
		}
		.small {
			font-size: 20pt;
			padding: 10px 0;
			padding-bottom: 25px;
			&.reallyDogSound {
				font-style: oblique;
			}
		}
		.text {
			font-size: 15pt;
		}
	}
}