@import '~include-media/dist/include-media';
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.info {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	height: 550px;
	padding: 50px 0;
	padding-left: 120px;
	@media (max-width: 1080px) {
		padding-left: 80px;
	}
	font-size: 18pt;
	font-family: 'Ubuntu', sans-serif;
	opacity: 1;

	.name {
		font-size: 50pt;
		padding: 10px 0;
	}

	.school {
		display: inline-block;
		font-family: 'Ubuntu', sans-serif;
		font-size: 36pt;
		width: auto;
		margin: 0;
		padding: 0;
	}

	.dept {
		font-size: 28pt;
		padding-bottom: 40px;
	}
}