@import '~include-media/dist/include-media';
@font-face{
	font-family: "AppleLight";
	src:url("../fonts/APPLESDGOTHICNEO-LIGHT.TTF");
}
@font-face{
	font-family: "AppleMedium";
	src:url("../fonts/APPLESDGOTHICNEO-MEDIUM.TTF");
}
@font-face{
	font-family: "AppleThin";
	src:url("../fonts/APPLESDGOTHICNEO-THIN.TTF");
}
@font-face{
	font-family: "AppleRegular";
	src:url("../fonts/APPLESDGOTHICNEO-REGULAR.TTF");
}
@font-face{
	font-family: "AppleBOLD";
	src:url("../fonts/APPLESDGOTHICNEO-BOLD.TTF");
}
@font-face{
	font-family: "AppleHeavy";
	src:url("../fonts/APPLESDGOTHICNEO-HEAVY.TTF");
}
@font-face{
	font-family: "AppleExtraBold";
	src:url("../fonts/APPLESDGOTHICNEO-EXTRABOLD.TTF");
}

.info {
	display: flex;
	box-sizing : content-box;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	height: auto;
	padding: 50px 0;
	padding-left: 110px;
	@media (max-width: 1080px) {
		padding-left: 80px;
	}
	font-size: 18pt;
	font-family: 'AppleBOLD';
	opacity: 1;

	.name {
		font-size: 50pt;
		padding: 10px 0;
	}

	.school {
		display: inline-block;
		font-family: 'AppleBOLD';
		font-size: 36pt;
		width: auto;
		margin: 0;
		padding: 0;
	}

	.dept {
		font-size: 28pt;
		padding-bottom: 40px;
	}
}