@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Noto+Sans+KR:wght@300&display=swap');
@font-face{
	font-family: "AppleLight";
	src:url("../fonts/APPLESDGOTHICNEO-LIGHT.TTF");
}
@font-face{
	font-family: "AppleMedium";
	src:url("../fonts/APPLESDGOTHICNEO-MEDIUM.TTF");
}
@font-face{
	font-family: "AppleThin";
	src:url("../fonts/APPLESDGOTHICNEO-THIN.TTF");
}
@font-face{
	font-family: "AppleRegular";
	src:url("../fonts/APPLESDGOTHICNEO-REGULAR.TTF");
}
@font-face{
	font-family: "AppleBOLD";
	src:url("../fonts/APPLESDGOTHICNEO-BOLD.TTF");
}
@font-face{
	font-family: "AppleHeavy";
	src:url("../fonts/APPLESDGOTHICNEO-HEAVY.TTF");
}
@font-face{
	font-family: "AppleExtraBold";
	src:url("../fonts/APPLESDGOTHICNEO-EXTRABOLD.TTF");
}
.introduce {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	height: auto;
	padding-top: 200px;
	padding-bottom: 100px;
	font-size: 18pt;
	font-family: 'AppleLight';
	text-align: center;

	.big-text {
		font-size: 100pt;
		margin: 0;
		padding: 25px 0;
	}

	.small-text {
		font-size: 25pt;
		margin: 0;
		padding: 25px 0;
	}

	.interest {
		padding: 25px 0;
		text-align: left;
		font-size: 20pt;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		margin: 0;
	}
}