@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Noto+Sans+KR:wght@300&display=swap');
.contents{
	background: #F9F3DF;
	height: 1200px;
	margin: 0 0;
	padding-left:10px;
	padding-top:10px;
	font-size:12pt;
	font-family: 'Noto Sans KR', sans-serif;
}