@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.dogSound {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	height: auto;
	padding: 50px 200px;
	background: #f6f6f6;
	font-family: 'Noto Sans KR', sans-serif;
	.wrapper {
		padding: 100px 0px;
		.big {
			font-size: 80pt;
			padding: 10px 0;
		}
		.small {
			font-size: 20pt;
			padding: 10px 0;
			padding-bottom: 50px;
			&.reallyDogSound {
				font-weight: bold;
				font-style: oblique;
			}
		}
		.text {
			font-size: 18pt;
		}
	}
}