@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
.footer{
	width:100%;
	height:140px;
	box-sizing:border-box;
	padding-top:40px;
	padding-left:50px;
	background-color:gray;
	font-family: 'Ubuntu', sans-serif;
	color:white;
	.text{
		position:absolute;
		display:inline-block;
	}
	.copyright{
		color:white;
		text-decoration: none;
	}
}