@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Noto+Sans+KR:wght@300&display=swap');

.introduce {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	height: 550px;
	padding-top: 200px;
	padding-bottom: 100px;
	background: #f6f6f6;
	font-size: 18pt;
	font-family: 'Noto Sans KR', sans-serif;
	text-align: center;

	.big-text {
		font-size: 100pt;
		margin: 0;
		padding: 25px 0;
	}

	.small-text {
		font-size: 25pt;
		margin: 0;
		padding: 25px 0;
	}

	.interest {
		padding: 25px 0;
		text-align: left;
		font-size: 20pt;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		margin: 0;
	}
}